@import '../../index.scss';

.bk_ch_vs_header {
  @apply m-5;
  color: $primary;
}

.chapter-number {
  @apply hidden;
}

.vn {
  @apply m-5;
  color: $primary;
}

.selah {
  @apply italic;
}

.psa-title {
  @apply italic;
  @apply m-5;
}

.sc {
  font-variant: small-caps;
}

.a-tn {
  color: $primary;
}

.poet-1,
.poet-1-vn,
.poet1-vn-ch-hd,
.poet1-vn-sp,
.poet2 {
  @apply m-5;
}

.tn {
  @apply block;
  @apply border;
  @apply p-5;
  @apply m-5;
  border-color: $black;
}
