@charset "utf-8";
@tailwind base;
@tailwind components;
@tailwind utilities;

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

// Update Bulma's global variables
$family-sans-serif: 'Playfair Display', sans-serif !important;
$primary: rgb(270, 100, 2);
$link: $primary;

::selection {
  background-color: $primary;
  color: #fff;
}

// Import Bulma styles
@import '../node_modules/bulma/bulma.sass';
